.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 1.5rem;

        background: 0;
    }

    > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 200px;
        height: 60%;
        min-height: 300px;
        margin: 1.5rem auto;

        background-color: var(--yellow);
        border-radius: 130px;


        h1 {
            font-family: 'Rancho', sans-serif;
            color: var(--purple);
            font-size: 4rem;

            line-height: 40px;

            width: 100%;

            text-align: center;
            margin-bottom: 4rem;
        }

        > button {
            background-color: #00000021;
            padding: 8px;
            
            border-radius: 233px;

            width: 160px;

            margin-bottom: 2.5rem;

            transition: 200ms background-color;

            &:hover {
                background: var(--purple);
            }
        }

        div {
            display: flex;
            flex-direction: column;

            margin-bottom: 1rem;

            button {
                font: 1.2rem 'Poppins', sans-serif;
                padding: 10px;

                border-radius: 40px;

                transition: 200ms background-color;

                & + button {
                    margin-top: 3px;
                }

                &:hover {
                    background: var(--brown);
                }

            }

        }

    }

    > div:last-child {
        margin: auto 0;
        height: 28%;
        display: flex;
        flex-direction: column;

        align-items: center;

        justify-content: space-between;

        button {
            width: 89px;
            height: 81px;
            padding: 0;

            margin-bottom: 1.5rem;

            // visibility: hidden;

            transition: 200ms filter;

            &:hover {
                filter: brightness(0.8);
            }
        }

        > button:last-child {
            margin-bottom: 2vh;
        }
    }
} 